.navbar .nav-item .nav-link {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    transition: all ease 0.3s;
}

.navbar .nav-item .nav-link:hover {
    border-bottom: 1px solid #52ab98;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(82, 171, 152, 0.10) 100%);
    transition: all ease 0.5s;
}

.profile-dropdown {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .profile-dropdown {
        left: -120px !important;
    }
}

/* =============== Header ============= */
.header-carousel .carousel-item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}


/* =============== Category Card ============= */
.category-box{
    overflow: hidden;
    border: none;
    padding: 0 !important;
    margin-top: 10px;
}
.category-box img{
    width: 100%;
    height: 400px;
    transition: all ease .5s;
}

.category-box .card-img-overlay{
    background: linear-gradient(180deg, rgba(255,255,255,0) 25%, #52ab98 100%);
    color: #fff;
    transition: all ease .5s;
}
.category-box .card-img-overlay:hover{
    background: linear-gradient(180deg, #2b6777 100%);
    color: #fff;
    transition: all ease .5s;
}
.category-box:hover img{
    transform: scale(1.1) rotate(2deg);
    transition: all ease .5s;
}

.category-box h2{
    font-weight: bolder;
}


/* =============== Product Card ============= */
.product-card {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 15px 0;
}

.product-card .product-image {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-card .product-image a.image {
    display: block;
}

.product-card .product-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-card .product-discount-label {
    color: #fff;
    background: #2b6777;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}

.product-card .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    background: rgba(255, 255, 255, 0.500);
    transition: all .5s ease 0s;
}

.product-card:hover .product-links {
    right: 10px;
}

.product-card .product-links li a {
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}

.product-card .product-links li:last-child a {
    border-bottom: 1px solid #333;
}

.product-card .product-links li a:hover {
    color: #fff;
    background: #333;
}

.product-card .add-to-cart {
    background: #2b6777;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}

.product-card:hover .add-to-cart {
    bottom: 0;
}

.product-card .add-to-cart:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.product-card .product-content {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 0 5px rgba(42, 103, 119, 0.2) inset;

}

.product-card .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}

.product-card .title a {
    color: #777;
    transition: all 0.3s ease 0s;
}

.product-card .title a:hover {
    color: #2b6777;
}

.product-card .price {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}

.product-card .price span {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}

@media screen and (max-width: 990px) {
    .product-card {
        margin-bottom: 30px;
    }
}